.platform-preview {
	position: absolute;
	top: 0;
	left: 50%;
	margin-left: -230px;
	width: 600px;
	text-align: center;
	.platform-toggle {
		padding: 8px 10px 4px;
		a {
			display: inline-block;
			padding: 4px 16px;
			border-radius: 16px;
			color: #9da5b3;
			font-weight: 500;
			font-size: 14px;
			cursor: pointer;
			transition: 0.2s color, 0.2s background-color;
			-webkit-font-smoothing: antialiased;
		}
		a:hover {
			color: #4a8bfc;
			text-decoration: none;
		}
		a.active,
		a.active:hover {
			background-color: #4a8bfc;
			color: #fff;
		}
	}
	.demo-devices {
		.ios-device{
			margin: 0 auto;
			width: 600px;
			height: 1055px;
			.device-wrapper{
				display: inline-block;
				background-color: #fff;
				iframe {
					position: relative;
					z-index: 10;
				}
			}
		}
		.iPhone8{
			background: center top no-repeat url('../assets/img/iphone8.jpg');
			background-size: 600px;
			.device-wrapper {
				margin-top: 85px;
				width: 375px;
				height: 667px;
				.statusbar{
					background-color: #fff;
					img {
						padding: 5px 0;
						width: 100%;
					}
				}
				iframe {
					width: 375px;
					height: 645px;
				}
			}
		}
		.iPhone8-Plus{
			background: center top no-repeat url('../assets/img/iphone8plus.jpg');
			background-size: 600px;
			.device-wrapper {
				margin-top: 104px;
				width: 414px;
				height: 736px;
				.statusbar{
					background-color: #fff;
					img {
						padding: 5px 0;
						width: 100%;
					}
				}
				iframe {
					width: 414px;
					height: 713px;
				}
			}
		}
		.iPhone-5s{
			background: center top no-repeat url('../assets/img/iphone5s.jpg');
			background-size: 600px;
			.device-wrapper {
				margin-top: 119px;
				width: 320px;
				height: 568px;
				.statusbar{
					background-color: #fff;
					img {
						padding: 5px 0;
						width: 100%;
					}
				}
				iframe {
					width: 320px;
					height: 548px;
				}
			}
		}
		.iPhone-X{
			background: center top no-repeat url('../assets/img/iphonex.jpg');
			background-size: 600px;
			.device-wrapper {
				margin-top: 67px;
				width: 375px;
				height: 734px;
				.statusbar{
					background-color: #fff;
					img {
						padding: 5px 0;
						width: 100%;
					}
				}
				iframe {
					width: 375px;
					height: 734px;
				}
			}
		}
		.device-wrapper {
			background-color: #fff;
			display: inline-block;
			margin-top: 85px;
			width: 320px;
			height: 568px;
			position: relative;
		}
		.device-wrapper:after{
			display: inline-block;font-size:50px;
			    position: absolute;width: 100px;height: 100px;line-height: 100px;left: 50%;top: 50%;margin-top: -50px;margin-left: -50px;text-align: center;z-index: 9;transform-origin:50% 50% 0;animation:load 1.5s linear infinite;color: #9da5b3;content: '\e62c';font-family:"iconfont" !important;
				speak: none;
				font-style: normal;
				font-weight: normal;
				font-variant: normal;
				text-transform: none;
				/* Better Font Rendering =========== */
				-webkit-font-smoothing: antialiased;
				-moz-osx-font-smoothing: grayscale;
				-webkit-text-stroke-width: 0.2px;
		}
		.statusbar {
			background-color: #fff;
			img {
				padding: 5px 0;
				width: 100%;
			}
		}
		.device {
			margin: 0 auto;
			width: 467px;
			height: 800px;
			background: center top no-repeat url('../assets/img/devices-sprite.jpg');
			background-size: 467px;
			iframe {
				position: relative;
				z-index: 10;
				width: 320px;
				height: 548px;
			}
		}
	}
	.demo-devices .device.android {
		background-position: center center;
		.device-wrapper {
			margin-top: 64px;
			width: 360px;
			height: 590px;
			.statusbar img {
				padding: 0;
			}
			iframe {
				width: 360px;
				height: 566px;
			}
		}
	}
	.demo-devices .device.windows {
		background-position: center bottom;
		.device-wrapper {
			margin-top: 72px;
			width: 350px;
			height: 622px;
			iframe {
				width: 350px;
				height: 594px;
			}
		}
	}
}
.preview-setting {
	position: fixed;
	top: 0;
	right: 20px;
	padding: 30px 20px;
	width: 200px;
	li {
		margin-bottom: 10px;
	}
	.tag {
		font-size: 18px;
		line-height: 40px;
	}
	input {
		padding: 0 10px;
		width: 100%;
		height: 42px;
		border: 1px solid #c3cbd0;
		border-radius: 4px;
		font-size: 14px;
		line-height: 40px;
	}
	input:focus {
		border-color: #4a8bfc;
		box-shadow: 0 0 10px rgba(74, 139, 252, 0.8);
	}
	.submit {
		width: 100px;
		height: 40px;
		border-radius: 4px;
		background-color: #4a8bfc;
		color: #fff;
		font-size: 16px;
		cursor: pointer;
	}
	.submit:hover {
		box-shadow: 0 0 10px rgba(74, 139, 252, 0.8);
	}
}
